---
const certifications = [
  {
    name: "Cisco Certified Network Associate (CCNA)",
    issuer: "Cisco",
    url: "https://www.credly.com/badges/c5680f7f-c33e-4a3c-9d89-4071a9e02ac0/public_url",
    date: "2025",
    logo: "/ccna_large.jpg"
  },
  {
    name: "CompTIA Security+",
    issuer: "CompTIA",
    url: "https://www.credly.com/badges/9cd8c888-cadf-4862-8e23-e60bcb0c50a3/public_url",
    date: "2025",
    logo: "/Security+-svg.svg"
  },

  {
    name: "Google Associate Cloud Engineer",
    issuer: "Google Cloud",
    url: "https://www.credly.com/badges/049b3acd-ecfb-48d0-94a8-31be67829567/public_url",
    date: "2024",
    logo: "/associate-cloud-engineer-certification.png"
  },
  {
    name: "CompTIA Network+",
    issuer: "CompTIA",
    url: "https://www.credly.com/badges/3cbe077d-d11b-4f2c-b582-86599214301e/public_url",
    date: "2025",
    logo: "/Network+-svg.svg"
  },
  {
    name: "CompTIA A+",
    issuer: "CompTIA",
    url: "https://www.credly.com/badges/42df380d-8763-4559-b2a2-b29f61ee34c6/public_url",
    date: "2025",
    logo: "/A+-svg.svg"
  },
];
---

<section>
  <h2>Certifications</h2>
  <div class="cert-grid">
    {certifications.map((cert) => (
      <a href={cert.url} target="_blank" rel="noopener noreferrer" class="cert-card">
        <img src={cert.logo} alt=`${cert.name} badge` loading="lazy" />
        <div class="cert-info">
          <span class="cert-name">{cert.name}</span>
          <span class="cert-issuer">by {cert.issuer}</span>
        </div>
      </a>
    ))}
  </div>
</section>

<style>
section {
    padding: 4rem 2rem;
}
h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.cert-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.cert-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  flex-basis: 20%;
}

.cert-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.cert-info {
  display: flex;
  flex-direction: column;
}

.cert-name {
  font-weight: 500;
  line-height: 1.4;
}

.cert-issuer {
  font-size: 0.9rem;
  color: #666;
}
</style>